/**
 * \Fr\Star
 */
.Fr-star {
  width: 225px;
  height: 42px;
  position: relative;
  background-color: #ccc;
  border: #ccc 1px solid;
}
.Fr-star[data-title]:hover:after {
  content: attr(data-title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 140%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.Fr-star .Fr-star-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('<?APP_URL?>/src/image/Fr-star.png') repeat;
  background-size: contain;
}
.Fr-star .Fr-star-value{
  height: 100%;
  position: absolute;
  background-color: #ffbe10;
}
/**
 * End \Fr\Star
 */

/**
 * Apps Page
 */
.workspace .contents{
  width: 940px;
  background: none;
  padding: 0;
}
.nav{
  
}
.apps .app{
  display: inline-block;
  position: relative;
  height: 200px;
  width: 48.5%;
  background: white;
  margin: 20px 5px;
  padding: 10px 20px;
  border: 1px solid #c6c6c6;
}
.apps .app .lpane{
  float: left;
}
.apps .app .lpane img{
  width: 128px;
  height: 128px;
}
.apps .app .rpane{
  margin: 30px 0;
}
