#workspace .contents{
  background: none;
  padding: 40px 0;
  width: 500px;
  min-height: 0;
  box-shadow: none;
}
section{
  background: white;
  padding: 150px 0;
  text-align: center;
}
section h2{
  margin-top: 0;
}
.odd-section {
  text-align: center;
  background: #64C235;
  color: white;
}
.even-section{
  text-align: center;
  background: #FF9800;
  color: white;
}
section ul{
  color: #000;
}
section img{
  max-width: 100%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 5px 0 30px;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 20px;
}
.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.caption {
  margin: 0;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.app{
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.app img{
  height: 200px;
  width: 200px;
}
.app .app_name{
  display: none;
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.app:hover .app_name{
  display: block;
}
#download .platform{
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
#download .linux{
  background-image: url(//server.lobby.sim/contents/apps/lobby-server/src/image/platforms/linux.svg);
  background-size: contain;
  margin-right: 0;
}
#download .ubuntu{
  background-image: url(//server.lobby.sim/contents/apps/lobby-server/src/image/platforms/ubuntu.svg);
  background-size: contain;
}
#download .windows{
  background-image: url(//server.lobby.sim/contents/apps/lobby-server/src/image/platforms/windows.svg);
  background-size: contain;
}
#download .zip{
  background-image: url(//server.lobby.sim/contents/apps/lobby-server/src/image/platforms/zip.svg);
  background-size: contain;
}
@media screen and (max-width: 500px){
  #workspace .contents{
    width: 100%;
  }
  section{
    padding: 20px 0;
  }
}
