.workspace .contents{
  background: none;
  padding: 40px 0;
  width: 500px;
  min-height: 0;
}
.section{
  background: white
}
.section:nth-child(2), .section:nth-child(4){
  background: #64C235;
  color: white;
}
.section .info{
  padding: 20px 0;
}
.app{
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.app img{
  height: 200px;
  width: 200px;
}
.app .app_name{
  display: none;
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.app:hover .app_name{
  display: block;
}
